body {
	font-family: arial, sans-serif;
	background-color: #fff;
}
a {
	display: block;
	text-align: right;
	right: 5%;
}
h3 {
	color: #de0b32;
	font-size: 15pt;
	padding: none;
	margin: 50px 0px 30px 40px;
	font-weight: normal;
}
p {
	font-size: 12pt;
	font-weight: normal;
}
form {
	font-size: 12pt;
	margin: 0px 0px 0px 35px;
	padding: 40px 0px 0px 0px;
}
#container {
	border-top: 1px solid #f1f1f1;
}
div {
	display: block;
	margin: 0 0 20px 0;
	padding: 0;
}

label {
	font-size: 10pt;
}
input[type=text] {
	position: absolute;
	left: 220px;
	height: 25px;
	width: 40.5%;
	transition: 0.5s;
	border: 1px solid #c9cfd1;
}
input[type=text]:focus { 
    outline: none;
    border-color: #719ECE;
    box-shadow: -2px 2px 2px -2px #719ECE;
}
input[type=submit]{
	background-color: #4d7aff;
	color: white;
	font-size: 9pt;
	text-align: center;
	border: none;
	border-radius: 2px;
	margin: auto;
	padding: 10px 10px 10px 10px;
	display: block;
	margin: auto;
}
input[type=submit]:hover {
	border: .8px solid #2929d6;
	border-radius: 2px;
}
input[value=hidden]{
	width: 130px;
	display= hidden;
}