/* line 1, ../sass/google_search_stylesheet.scss */
body {
  font-family: arial,sans-sarif;
  background-color: #fff; }

/* line 5, ../sass/google_search_stylesheet.scss */
nav a {
  margin: 10px;
  display: block;
  font-size: 18px;
  text-align: right; }

/* line 11, ../sass/google_search_stylesheet.scss */
div.center {
  margin: auto;
  position: absolute;
  top: 21%;
  width: 100%; }

/* line 17, ../sass/google_search_stylesheet.scss */
img {
  position: relative;
  top: 25%;
  vertical-align: center;
  left: 38%; }

/* line 23, ../sass/google_search_stylesheet.scss */
input[type=text] {
  position: relative;
  top: 50%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin: auto;
  width: 33%;
  margin-bottom: 20px;
  height: 20px;
  padding: 12px 20px 12px 40px;
  display: block;
  border-radius: 20px;
  border: 1px solid #e9e9e9;
  background-image: url("images/search-icon.png");
  background-position: 10px 10px;
  background-repeat: none; }

/* line 40, ../sass/google_search_stylesheet.scss */
input[type=text]:focus {
  outline: none;
  border-color: #e9e9e9;
  box-shadow: -2px 2px 2px 2px #dee0da; }

/* line 45, ../sass/google_search_stylesheet.scss */
input[type=text]:hover {
  border-color: #e9e9e9;
  box-shadow: -2px 2px 2px 2px #dee0da; }

/* line 49, ../sass/google_search_stylesheet.scss */
div #search-buttons {
  position: relative;
  top: 60%;
  width: 300px;
  margin: auto;
  display: block; }

/* line 56, ../sass/google_search_stylesheet.scss */
input[type=submit] {
  margin-top: 10px;
  margin-right: 20px;
  padding: 12px;
  height: 35px;
  width: 120px;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: #f2f2f2; }

/* line 67, ../sass/google_search_stylesheet.scss */
input[type=submit]:hover {
  padding-bottom: 12px;
  border: 1.5px solid rgba(0, 0, 0, 0.19);
  border-radius: 5px; }
