body {
	font-family: arial,sans-sarif;
	background-color: #fff;
  width: 96%;
	margin: auto;	
}
nav a {
	margin: 10px;
	display: block;
	font-size: 18px;
	text-align: right;
}
div#container.center {
	display: grid;
	width: 100%;
}
img {
	position: relative;
	top: 25%;
	vertical-align: center;
	left: 38%;
}
input[type=text].background-image{
	position: relative;
	top: 50%;
	margin: auto;
	width: 33%;
  margin-bottom: 20px;
	height: 3em;
	padding: 0 10px 0 27px;
	display: block;
	border-radius: 20px;
	border: solid 1px rgba(184, 175, 175, 0.75);
	background-image: url("../images/search-icon.png");
	background-origin: border-box;
	background-position: center;
	background-repeat: round;
}

input[type=text].background-image:focus { 
	outline: none;
    border-color: #e9e9e9;
	box-shadow: -2px 2px 2px 2px #dee0da;
}
input[type=text]:hover.background-image{
	border-color: #e9e9e9;
	box-shadow: -2px 2px 2px 2px #dee0da;
}
div.search-buttons {
	display: inline-block;
	width: fit-content;
	margin: auto;
	margin-top: 20px;
}
input[type=submit].search-buttons{
	margin-bottom: 20px;
	padding: 1px;
	height: 35px;
	width: 120px;
	display: inline-block;

}


/*Styles Unique to the Advanced search page*/
/*
a {
	display: block;
	text-align: right;
	right: 5%;
}*/
h3 {
	color: #de0b32;
	font-size: 15pt;
	padding: none;
	margin: 50px 0px 30px 40px;
	font-weight: normal;
}
p {
	font-size: 12pt;
	font-weight: normal;
}
form.home {
	margin-top: 0;
	padding-top: 0;
	box-sizing: content-box;
	font-size: 12pt;
	display: grid;
	width: 100%;
	height: 100vw;
	height: fit-content;
	background-clip: content-box;
}

form.advanced {
	
}
#container {
	border-top: 1px solid #f1f1f1;
}
div.row {
	display: block;
	margin: 0 0 20px 0;
	padding: 0;
}


label {
	font-size: 10pt;
}
.row input[type=text] {
	position: absolute;
	left: 220px;
	height: 25px;
	width: 40.5%;
	transition: 0.5s;
	border: 1px solid #c9cfd1;
}
.row input[type=text]:focus { 
    outline: none;
    border-color: #719ECE;
    box-shadow: -2px 2px 2px -2px #719ECE;
}
input[type=submit]{
	background-color: #4d7aff;
	color: white;
	font-size: 9pt;
	text-align: center;
	border: none;
	border-radius: 2px;
	margin: auto;
	padding: 10px 10px 10px 10px;
	display: block;
	margin: auto;
}
input[type=submit]:hover {
	border: .8px solid #2929d6;
	border-radius: 2px;
	box-shadow: 1px 2px 1px 1px white;
}
 input[value=hidden]{
	width: 130px;
	display: hidden;
}